@tailwind base;
@tailwind components;
@tailwind utilities;


/* Кастомные стили для скроллбара */
.custom-scrollbar::-webkit-scrollbar {
    width: 6px; /* Тонкая полоса прокрутки */
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #4a5568; /* Цвет бегунка */
    border-radius: 3px; /* Закругление углов */
    transition: background-color 0.2s; /* Плавное изменение цвета */
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #718096; /* Цвет бегунка при наведении */
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: #2d3748; /* Цвет фона скроллбара */
  }